/*reset styles*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

:root {
    --index: calc(1vh + 1vw);
    --height: 1vh;
    --width: 1vw;
}

@font-face {
    font-family: fallout_logo_font;
    src: url(../fonts/Gothic_821_Condensed_BT.ttf);
}

@font-face {
    font-family: fallout_font;
    src: url(../fonts/futura_medium_bt.ttf);
}


body {    
    background-color: #292828;
}

/* Preloader */

.mask {
    width: 100%;
    height: 100%;
    background-color: #3d3d3d;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: calc(var(--index)* 6);
    height: calc(var(--index)* 6);
    border: calc(var(--index)* 0.65) solid #8a8787;
    border-radius: 50%;
    border-left-color: #ffffff;
    animation: loader 1.3s linear infinite;
}

@keyframes loader {
    100%{
        transform: rotate(360deg);
    }
}

/* First page */

.logo {
    font-family: fallout_logo_font;
    position: absolute;
    top: calc(var(--index) * 3);
    left: calc(var(--index) * 4.5);
    font-size: calc(var(--index) * 5);
    color: #b9b9b9;
    z-index: 1;
    opacity: 80%;
    animation: text 3s 1;
}

@keyframes text {
    0%{
        opacity: 0%;
    }
}

.header-views {
    position: relative;
}

.header-views::after {
    content: '';
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 25%;
    bottom: calc(var(--height) * -13);
    background-image: url(../images/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    position: relative;
}

.layer {
    height: 110%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
}

.space {
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}


/* Second page */

.main-views {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-views::before {
    content: '';
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 25%;
    top: calc(var(--height) * -13);
    background-image: url(../images/ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-views__content {
    max-width: calc(var(--width) * 85);
    color: #b9b9b9;
}

.main-views__header {
    font-family: fallout_logo_font;
    text-transform: uppercase;
    font-size: calc(var(--index) * 2.5);
}

.main-views__text {
    font-family: fallout_font;
    margin-top: calc(var(--index) * 1.3);
    font-size: calc(var(--index) * 1.4);
}


/* Speed parallax effect */

.layers__background-view {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}

.layers__middle-view {
    transform: translate3d(0, calc(var(--scrollTop) / 2.1), 0);
}

.layers__front-view {
    transform: translate3d(0, calc(var(--scrollTop) / 7.5), 0);
}
